<div class="cpathway">
    {% assign crumbs = page.url | split: '/' %}

    <!-- TODO: добавить поддержку "глубоких" адресов (типа http://localhost:4000/structure/test и т.п.) -->
    <span class="breadcrumbs pathway">
        {% if page.url == '/' %}
            {{ site.title }}
        {% else %}
            <a href="{{ site.baseurl }}" class="pathway">{{ site.title }}</a>
        {% endif %}

        {% for crumb in crumbs | offset: 1 %}
            {% if forloop.last %}
                {{ crumb }}
            {% else %}
                <a href="{{ site.baseurl }}{{ crumb }}" class="pathway">{{ page.title }}</a>
            {% endif %}
        {% endfor %}
    </span>
</div>
