{% for section in site.data.sidebar %}
    <div class="sidebar__block">
        <h3 class="block__title">{{ section.label }}</h3>
        {% if section.links %}
            <nav class="block__menu">
                {% for link in section.links %}
                    <a href="{{ link.to }}" class="menu__item{% if link.to == page.url %} menu__item_active{% endif %}">{{ link.label }}</a>
                {% endfor %}
            </nav>
        {% elsif section.content %}
            <div class="block__content">{{ section.content }}</div>
        {% elsif section.include_content %}
            <div class="block__content">{% include {{ section.include_content }} %}</div>
        {% endif %}
    </div>
{% endfor %}
