{% for section in site.data.sidebar %}
    <div class="module">
        <h3>{{ section.label }}</h3>
        {% if section.links %}
            <ul class="menu">
                {% for link in section.links %}
                    <li{% if link.to == page.url %} id="current"{% endif %}>
                        <a href={{ link.to }}>{{ link.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% elsif section.content %}
            <div class="module__content">{{ section.content }}</div>
        {% elsif section.include_content %}
            <div class="module__content">{% include {{ section.include_content }} %}</div>
        {% endif %}
    </div>
{% endfor %}
