---
# Main site's styles
---

$colors: (
    "primary": #488ff0,
    "secondary": #4ca69d
);

html, body {
    width: 100%;
    height: 100%;
}

body {
	margin: 0;
    padding: 0;

	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4em;

    color: #666;
    background: #fff linear-gradient(
        #fff 50px, 
        #EDEDED 64px, 
        #fff 0px,
        #D0EAFF 0px,
        #D0EAFF 80px,
        #fff 300px) no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        height: 1px;
        border: 1px 0 solid #e9e9e9;
        background-color: #fff;
    }

    &::after {
        z-index: -1;
        content: "";
        position: absolute;
        top: 77.3px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #E8F4FF;
    }
}

a {
    color: map-get($colors, secondary);
}

img.img {
    &_fluid {
        max-width: 100% !important;
        max-height: 100% !important;
    }

    &_left {
        float: left;
        margin: 10px 10px 10px 0;
    }

    &_right {
        float: right;
        margin: 10px 0 10px 10px;
    }
}

.figure {
    max-width: 190px;
    border: 1px solid #e8e8e8;
    background-color: #fcfcfc;
    padding: 15px;

    &_left {
        float: left;
        margin: 10px 10px 10px 0;
    }

    &_right {
        float: right;
        margin: 10px 0 10px 10px;
    }

    &__figcaption {
        text-align: center;
        color: #b36b00;
        margin-top: 5px;
        font-size: 12px;
    }
}

.wrapper {
    margin: 0 auto;
	padding: 0 52px 60px;
    background: url(../images/wrapper.png) no-repeat top center;
    width: 978px;

    &__content {
        position: relative;
        padding: 0 11px;
        border: 1px solid #DCDADA;
        background-color: #fff;
        border-radius: 0 0 6px 6px;
    }
}

/* TOP PART OF SITE */
.navbar {
    display: flex;
    justify-content: space-between;
    height: 68px;
    line-height: 68px;

    a {
        text-decoration: none;
    }

    &__logo {
        color: map-get($colors, primary) !important;
        font-size: 22px;
        font-weight: 700;
    }
}

.nav {
    &__item {
        font-weight: 700;
        padding: 0 14px;

        &:hover {
            color: #000 !important;
        }

        &:nth-child(odd) {
            background: transparent url(../images/t_menu_divider.gif) no-repeat center right;
        }
    }
}

.header {
    .jumbotron {
        display: flex;
        padding: 1px;

        background: linear-gradient(#F2F5FA 50%, #FFFFFF 50%);

        border: 1px solid #C5C6C8;
        border-radius: 6px;

        &__header img {
            display: block;
            width: 293px;
            height: 251px;
            object-fit: cover;

            border-radius: 6px 0 0 6px;
        }

        &__details {
            width: 100%;
            position: relative;
            padding-left: 10px;

            .search {
                position: absolute;
                width: 185px;
                top: -2px;
                right: -2px;
                padding: 6px 10px;
                background: linear-gradient(#F7F6F6 50%, #E8E8E8 50%, #F5F5F5 75%, #E8E8E8 100%);
                border: 1px solid #C5C6C8;
                border-radius: 0 6px 0 6px;

                &__input {
                    border: #fff 1px solid;
                    color: #fff;
                    font-size: 11px;
                    line-height: 13px;
                    width: 144px;
                    height: 14px;
                    padding: 3px 6px;
                    background: map-get($colors, secondary);

                    &::placeholder {
                        color: #fff;
                        opacity: 1;
                    }
                }
            }

            h1 {
                width: 600px;
                font-size: 24px;
                line-height: normal;
                color: map-get($colors, secondary);
                margin: 33px 0 5px;
            }
        }
    }
}

/* SLIDER */
a.slimLink, a.slimLink:link, a.slimLink:visited {
    font-size: 25px;
    font-weight: normal;
    color: white;
    font-style: italic;
    text-decoration: none;
}

/* BREADCRUMBS */
.breadcrumb {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    position: relative;
    
    &__item {
        position: relative;
        &:last-child {
            pointer-events: none;
            
            .breadcrumb__link {
                color: map-get($colors, primary);
            }
        }

        &:not(:first-child) {
            margin-left: 16px;

            &::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 7px;
                top: 7px;
                left: -11px;
                background: url(/assets/images/arrow.png);
            }
        }
    }

    &__link {
        text-decoration: none;
        color: #797979;
    }
}

/* CONTENT */
aside, main {
    padding-top: 20px;
}

main {
    flex: 3;
    padding: 20px 10px 40px;
}

.content {
    padding: 5px 15px 23px;

    &__offset {
        margin-top: 20px;
    }

    &__grid {
        display: flex;
        background-color: #F6F6F6;
        border: 1px solid #DCDADA;
        box-shadow: inset 0 0 1px 2px #fff;
        border-radius: 6px;
        margin-top: 5px;
    }
}

.main {
    &__title {
        margin: 0;
        font-size: 14px;
        color: map-get($colors, secondary);
    }

    &__content {
        margin-top: 12px;

        img {
            max-width: 260px;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

/* SIDEBAR */
.sidebar {
    flex: 0.94;
    border-right: 1px solid #DCDADA;

    &__block {
        margin: 0 5px 14px 0;
    }
}

.block {
    &__title {
        position: relative;
        margin: 0 0 10px;
        width: calc(100% - 10px * 2);
        height: 28px;
        line-height: 28px;
        color: map-get($colors, primary);
        font-size: 14px;
        border-left: 0; border-right: 0;

        &, &::before, &::after {
            background: linear-gradient(#FDFDFD 50%, #F1F1F1 50%);
            border: 1px solid #DCDADA;
        }

        &::before, &::after {
            content: "";
            position: absolute;
            top: -1px;
            bottom: -1px;
        }

        &::before {
            left: -10px;
            width: 10px;
            border-right: 0;
            border-radius: 6px 0 0 6px;
        }

        &::after {
            right: -10px;
            width: 10px;
            border-left: 0;
            border-radius: 0 6px 6px 0;
        }
    }

    &__menu {
        .menu__item {
            position: relative;
            display: block;
            margin-bottom: 1px;
            padding-left: 12px;
            color: #858585;
            text-decoration: none;
            background: transparent url(/assets/images/menu_li.png) no-repeat left bottom;

            &::before {
                content: "";
                position: absolute;
                width: 3px;
                left: 0;
                top: 0;
                bottom: 0;
                background: transparent url(/assets/images/menu_arrow.png) no-repeat left top;
            }

            &_active, &:hover {
                color: map-get($colors, primary);
            }
        }
    }

    &__content {
        margin: 0 5px 0 12px;

        ul {
            margin: 0;
            padding-left: 30px;
        }
    }
}

/* FOOTER */
.footer {
    position: absolute;
    bottom: -14px;
    left: 15px;
    right: 15px;
    padding: 4px;
    background: linear-gradient(#FCFCFC 50%, #F4F4F4 50%);
    border: 1px solid #DCDADA;
    border-radius: 6px;
    color: #797979;
    text-align: center;
}

/* ADDITIONAL COMPONENTS - GALLERY */
.gallery {
    display: grid;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 2px;

    &__item {
        cursor: pointer;
        padding: 5px;

        &_active {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            z-index: 999;

            .gallery__content {
                display: flex;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .5);

                img {
                    margin: auto;
                    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
                }
            }
        }
    }
}
