<div class="search_holder">
    <div id="search">
        <form action="index.php" method="post">
            <div class="search">
                <input name="searchword" id="mod_search_searchword" maxlength="20" alt="Пошук"
                    class="inputbox" type="text" size="20" value="Пошук..."
                    onblur="if(this.value=='') this.value='Пошук...';"
                    onfocus="if(this.value=='Пошук...') this.value='';" /> </div>
                <input type="hidden" name="task" value="search" />
                <input type="hidden" name="option" value="com_search" />
                <input type="hidden" name="Itemid" value="1" />
        </form>
    </div>
</div>