<div class="slider">
    <ul id="sm46" class="neHS" style="height:120px; width:635px;">
        {% for sliderItem in site.data.slider %}
            <li class="neHS">
                <div class="neHSc {% if forloop.first %}first{% else %}middle{% endif %}" style="height:120px; width:500px;">
                    <div class="neHSi"
                        style="background-image: url('{{ sliderItem.imageUrl }}'); height:120px; width:500px;">
                    </div>
                    <div style="width:500px; height:60px; " class="neHSb">
                        <div class="neHSbb"></div>
                        <div class="neHSbt">
                            <p>
                                <a class="slimLink" href="{{ sliderItem.linkTo }}">
                                    {{ sliderItem.label }}
                                </a>
                            </p>
                        </div>
                    </div>
                    <div style="width:500px; height:120px;" class="neHSf"></div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <script type="text/javascript">
        const slideMenu46 = new horizon();
        slideMenu46.build("sm46", 500, 10, 10, 1, false, true, false, 0, 0.04, 0.1, false, 1, 1, true, true, 8, 8000, 0.4, false, false);
    </script>
</div>
