<!DOCTYPE html>
<html lang="uk-ua">
    <head>
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/assets/css/main.css">

        <link rel="stylesheet" href="/assets/css/horizon.css">
        <script src="/assets/js/horizon.slim.0.2.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="wrapper__content">
                <header class="header">
                    {% include header/navbar.html %}
                    <div class="jumbotron">
                        <div class="jumbotron__header">
                            <img src="/images/image27.jpeg" alt='{{ site.title }}'>
                        </div>
                        <div class="jumbotron__details">
                            {% include header/search.html %}
                            <h1>{{ site.fulltitle }}</h1>
                            {% include header/slider.html %}
                        </div>
                    </div>
                </header>
                <div class="content">
                    {% include breadcrumbs.html %}
                    <div class="content__grid">
                        <aside class="sidebar">{% include sidebar.html %}</aside>
                        <main class="content__main">{{ content }}</main>
                    </div>
                </div>
                <footer class="footer">
                    Copyright &copy; 2020 {{ site.title }}
                </footer>
            </div>
        </div>
    </body>
</html>
