<!DOCTYPE html>
<html lang="uk-ua">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/assets/css/template.css">

        <link rel="stylesheet" href="/assets/css/horizon.css">
        <script src="/assets/js/horizon.slim.0.2.js"></script>
    </head>
    <body id="page_bg">
        <div id="wrapper">
            <div id="wrapper_content">
                <div id="header">
                    {% include header/navbar.html %}
                    <div class="clr"></div>
                    {% include header/search.html %}
                    <div class="clr"></div>
                    <!-- <div class="jubmotron"> -->
                        <!-- TODO: эта часть находится в картинке. Надо переделать из картинки в норм хтмл. Кароче, рефакторинг -->
                        <div class="newstitle">
                            <h1>{{ site.fulltitle }}</h1>
                        </div>
                        {% include header/slider.html %}
                    <!-- </div> -->
                    {% include breadcrumbs.html %}
                    <div class="clr"></div>
                </div>
                <div id="content">
                    <div class="middle_left">
                        <div class="bottom_left">
                            <div class="top_left">
                                <div id="holder">
                                    <div id="leftcolumn">
                                        {% include sidebar-navigation.html %}
                                    </div>
                                    <div id="maincolumn_left">
                                        <div class="nopad">
                                            <table class="blog" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td valign="top">
                                                        <div>
                                                            <table class="contentpaneopen">
                                                                <tr>
                                                                    <td class="contentheading" width="100%">
                                                                        Коротко про об'єднання </td>
                                                                </tr>
                                                            </table>
                                                            <table class="contentpaneopen">
                                                                <tr>
                                                                    <td valign="top" colspan="2">
                                                                        <p style="text-indent: 1.25cm; margin-bottom: 0cm;"
                                                                            lang="uk-UA" align="JUSTIFY">
                                                                        <div class="phocagallery">
                                                                            <div class="phocagallery-box-file pgplugin1"
                                                                                style="height:223px; width:190px;position:relative;float:left;margin: 5px;padding: 5px;">
                                                                                <center>
                                                                                    <div class="phocagallery-box-file-first"
                                                                                        style="background: url('/components/com_phocagallery/assets/images/shadow1.gif') 35px 35px no-repeat;height: 188px; width: 188px;">
                                                                                        <div
                                                                                            class="phocagallery-box-file-second">
                                                                                            <div
                                                                                                class="phocagallery-box-file-third">
                                                                                                <center>
                                                                                                    <a class="highslide"
                                                                                                        title="Головний корпус"
                                                                                                        href="/images/phocagallery/thumbs/phoca_thumb_l_head1.jpg"
                                                                                                        onclick="return hs.expand(this, { slideshowGroup: 'groupPl1',  wrapperClassName: 'rounded-white', outlineType : 'rounded-white', dimmingOpacity: 0,  align : 'center',  transitions : ['expand', 'crossfade'], fadeInOut: true });">
                                                                                                        <img src="/images/phocagallery/thumbs/phoca_thumb_m_head1.jpg"
                                                                                                            alt="Головний корпус" /></a>
                                                                                                </center>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </center>
                                                                                <div class="name"
                                                                                    style="color: #b36b00 ;font-size:12px;margin-top:5px;text-align:center;">
                                                                                    Головний корпус</div>
                                                                            </div>
                                                                        </div> <strong>КНП КОР “ОПНМО”</strong> розташовано
                                                                        в смт <strong>Глеваха</strong>, Васильківського
                                                                        району, <strong>Київської області </strong>в 12 км
                                                                        від столиці. Зручні види сполучення: електричка,
                                                                        маршрутне таксі.</p>
                                                                        <p style="text-indent: 1.25cm; margin-bottom: 0cm;"
                                                                            lang="uk-UA" align="JUSTIFY">Сучасні 1-3
                                                                            поверхові корпуси вміщують 1010 ліжок для хворих
                                                                            <strong>психіатрично-наркологічного</strong>
                                                                            профілю. Всі відділення після капітального і
                                                                            косметичного ремонту мають сучасний інтер’єр,
                                                                            затишні куточки для відпочинку хворих, оздоблені
                                                                            квітами.</p>
                                                                        <p style="text-indent: 1.25cm; margin-bottom: 0cm;"
                                                                            lang="uk-UA" align="JUSTIFY">Територія закладу
                                                                            займає 26 гектарів з облаштованими майданчиками
                                                                            для прогулянок хворих. Багато зелених насаджень,
                                                                            квітів, якими вкриті клумби, з ранньої весни до
                                                                            пізньої осені.</p>
                                                                        <p style="text-indent: 1.25cm; margin-bottom: 0cm;"
                                                                            lang="uk-UA" align="JUSTIFY">Висококваліфіковані
                                                                            лікарі, привітний, турботливий середній та
                                                                            молодший персонал нададуть консультативну і
                                                                            лікарняну допомогу, нагляд всім, хто цього
                                                                            потребує.</p>
                                                                        <p style="text-indent: 1.25cm; margin-bottom: 0cm;"
                                                                            align="JUSTIFY">Майже всі <strong>психіатричні
                                                                                відділення</strong> на 55 ліжок,
                                                                            <strong>наркологічні </strong>– для чоловіків –
                                                                            100 і 60 ліжок, жіноче – 50 ліжок. Забезпечення
                                                                            медичним персоналом: завідувачі, лікуючі лікарі,
                                                                            середній, молодший персонал, психологи,
                                                                            соціальні працівники.</p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <span class="article_separator">&nbsp;</span>
                                                        </div>
                                                        <div>
                                                            <table class="contentpaneopen">
                                                                <tr>
                                                                    <td class="contentheading" width="100%">
                                                                        Анонімне виведення із запою </td>
                                                                </tr>
                                                            </table>
                                                            <table class="contentpaneopen">
                                                                <tr>
                                                                    <td valign="top" colspan="2">
                                                                        <p><strong>Виведення (обрив) запою в Києві анонімно,
                                                                                в стаціонарі КНП КОР "ОПНМО"</strong></p>
                                                                        <p><span style="text-decoration: underline;">Прийом
                                                                                хворих цілодобово</span> (тел. для довідок
                                                                            (04571) 3-12-03.</p>
                                                                        <p><span style="text-decoration: underline;">Лікування
                                                                            </span>проводиться в відділенні інтенсивної
                                                                            терапії <span
                                                                                style="text-decoration: underline;">під
                                                                                цілодобовим спостереженням реаніматолога і
                                                                                нарколога</span> (тел.099-605-8001),
                                                                            медсестри та санітара.</p>
                                                                        <p>Госпіталізація можлива тільки за згодою хворого.
                                                                        </p>
                                                                        <p>Оплата страхових програм лікування
                                                                            диференційована від тяжкості стану та регіону
                                                                            проживання. Один день перебування коштує від 450
                                                                            до 700 гривень) Оптимальний термін перебування 3
                                                                            дні. Є палата "люкс".</p>
                                                                        <p>Лікування проводиться згідно стандартів МОЗ
                                                                            України, сучасними методами лікування і
                                                                            сучасними препаратами. Хворий проходить
                                                                            лабораторне та ЕКГ обстеження; оглядається
                                                                            терапевтом, неврологом, психологом. При
                                                                            необхідності - іншими спеціалістами. Щодня -
                                                                            лабораторний контроль.</p>
                                                                        <p>Усім хворим після обриву запою пропонується
                                                                            продовжити лікування в наркологічних відділеннях
                                                                            нашого диспансеру.</p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <span class="article_separator">&nbsp;</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="footer">
                    Copyright &copy; 2011-2020 КНП КОР &quot;ОПНМО&quot;, Made by <a href="http://www.alphaomega.com.ua"
                        class="sgfooter" target="_blank">SPC "Alpha and Omega"</a>
                </div>
            </div>
        </div>
    </body>
</html>
